.env
.env.local
.env.development
.env.test
.env.production
/node_modules
/server/node_modules
/webgui/zms-wisr/node_modules
/.pnp
.pnp.js
yarn.lock
package-lock.json
/.next/
/out/
.next
/archive
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.pem
.vercel
/supabase/.temp
/supabase/.branches
/supabase/.snapshots
*.tsbuildinfo
next-env.d.ts
public/sw.js
public/workbox-*.js
.cache/
.temp/
logs
*.log
.DS_Store
Thumbs.db